
<nav class="navbar">
  <div class="nav-left">
    <a href="/">Sanjiv Ranchod</a>
  </div>
  <button class="nav-toggle" aria-label="Toggle navigation menu" aria-expanded="false">
    <span class="hamburger"></span>
  </button>
  <ul class="nav-center">
    <li><a href="#about">About Me</a></li>
    <li><a href="#papers">Papers</a></li>
    <li><a href="#talks-posters">Talks & Posters</a></li>
    <li><a href="#teaching">Teaching</a></li>
    <li><a href="#activities">Other Activities</a></li>
  </ul>
</nav>
