
<nav class="navbar">
  <div class="navbar-top">
    <div class="nav-left">
      <a href="/">Sanjiv Ranchod</a>
    </div>
    <div class="btn nav-toggle" onclick="toggleNav()">☰</div>
    <div class="nav-center nav-center-big">
      <a class="btn" href="#about">About Me</a>
      <a class="btn" href="#papers">Papers</a>
      <a class="btn" href="#talks-posters">Talks & Posters</a>
      <a class="btn" href="#teaching">Teaching</a>
      <a class="btn" href="#activities">Other Activities</a>
    </div>
  </div>

  <div class="nav-center nav-center-mobile" id="nav-links">
    <a class="btn" href="#about" onclick="toggleNav()">About Me</a>
    <a class="btn" href="#papers" onclick="toggleNav()">Papers</a>
    <a class="btn" href="#talks-posters" onclick="toggleNav()">Talks & Posters</a>
    <a class="btn" href="#teaching" onclick="toggleNav()">Teaching</a>
    <a class="btn nav-last" href="#activities" onclick="toggleNav()">Other Activities</a>
  </div>
</nav>
