<nav class="navbar">
  <div class="navbar-brand">
    <a href="{{ '/' | relative_url }}">{{ site.title }}</a>
    <button class="hamburger" onclick="toggleMenu()">☰</button>
  </div>
  <ul class="navbar-menu" id="navbarMenu">
    <li><a href="#about">About Me</a></li>
    <li><a href="#papers">Papers</a></li>
    <li><a href="#talks">Talks & Posters</a></li>
    <li><a href="#teaching">Teaching</a></li>
    <li><a href="#activities">Other Activities</a></li>
  </ul>
</nav>

<script>
function toggleMenu() {
  var menu = document.getElementById('navbarMenu');
  menu.classList.toggle('show');
}
</script>
