
:root {
  --background-color: #adc178;
  --navbar-background: #939f5b;
  --navbar-textcolor: #503c31;
  --card-background: #f6edd4;
  --box-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);
  --link-hover: #588157;
  --heading-colour: #6c584c;
  --text-brown: #503c31;
  --mini-box-shadow: 3px 3px 0 rgba(0,0,0,0.2);
  --font-inter: 'Inter', sans-serif;
  --font-alice:  "Alice", serif;
}

p {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

body {
  margin: 0;
  font-family: var(--font-inter);
  background-color: var(--background-color);
  color: #333;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  background-color: var(--card-background);
  box-shadow: var(--box-shadow);
  border-radius: 0.25em;
  position: fixed;
  top: 0;
  width: 85%;
  z-index: 1000;
  max-width: calc(100% - 70px);
  margin: 15px auto;
  left: 50%;
  transform: translateX(-50%);
  color: var(--text-brown);
  flex-wrap: wrap;
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
}

.nav-left {
  padding-left: 2em;
  flex: 1;
}

.nav-left a {
  color: var(--navbar-textcolor);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5em;
}

.nav-center {
  display: flex;
  /* list-style: none; */
  gap: 2rem;
  /* margin: 0; */
  /* padding: 0; */
  /* flex: 2; */
  justify-content: center;
  padding-right: 2em;
}

.nav-center a {
  color: var(--navbar-textcolor);
  margin: 0 1em;
  text-decoration: none;
}

.nav-center a:hover {
  color: var(--link-hover);
}

.nav-toggle {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Responsive */

@media (max-width: 768px) {
  .nav-center {
    /* display: none; */
    /* width: 100%; */
    flex-direction: column;
    /* padding-top: 0.5rem; */
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease-in-out;
    /* opacity: 0;
    pointer-events: none; */
  }

  .nav-center.nav-expanded {
    /* display: flex; */
    max-height: 500px;
    /* opacity: 1;
    pointer-events: auto; */
  }

  .nav-toggle {
    display: block;
  }
}

.section {
  padding: 5em 1em 2em;
  max-width: 1000px;
  margin: 0 auto;
}

section {
  scroll-margin-top: 80px;
}

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* padding-top: 5em; */
  flex-wrap: wrap;
}

.about-content {
  display: flex;
  flex-direction: row;
  gap: 2em;
  align-items: center;
  flex-wrap: nowrap;
}

.about-image img {
  max-width: 200px;
  height: auto;
  box-shadow: var(--box-shadow);
  border-radius: 0.25em;
}


.about-text {
  background-color: var(--card-background);
  padding: 1em;
  box-shadow: var(--box-shadow);
  border-radius: 0.25em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%; /* will match image if flexbox is used right */
  max-width: 700px;
  color: var(--text-brown);
}

.profile-image {
  width: 300px;
  height: auto;
  object-fit: cover;
  margin-right: 2em;
  box-shadow: var(--box-shadow);
}

.bio-box {
  background-color: var(--card-background);
  padding: 2em;
  box-shadow: var(--box-shadow);
  max-width: 500px;
  flex: 1;
}

.card {
  background-color: var(--card-background);
  box-shadow: var(--box-shadow);
  border-radius: 0.25em;
  padding: 1em;
  margin-bottom: 1.5em;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  color: var(--text-brown);
}

.buttons {
  margin-top: 0.5em;
}

.btn {
  box-shadow: var(--mini-box-shadow);
  background-color: var(--card-background);
  color: var(--navbar-background);
  padding: 0.2em 0.6em;
  border-radius: 0;
  text-decoration: none;
  margin-right: 0.5em;
  display: inline-block;
  border-color: var(--navbar-background);
  border: 3px solid var(--navbar-background);
  border-radius: 0.25em;
}

.btn:hover {
  background-color: var(--navbar-background);
  color: var(--card-background);
}

.section-container {
  max-width: 900px;      /* or whatever width fits your design */
  margin: 0 auto;        /* center container horizontally */
  padding: 1rem 1.5rem;  /* optional horizontal padding */
}

.section-title {
  margin-left: 0;        /* align left exactly with container */
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}


.cards-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.paper-title{
  margin-block-start: 0;
  margin-block-end: 0;
}

.paper-title a {
  color: var(--heading-colour);
  text-decoration: none;
  font-size: 1.2em;
}

.paper-links {
  margin-top: 0.3em;
}

.paper-detail {
  font-size: 0.5em;
}

.talk-title{
  margin-block-start: 0;
  margin-block-end: 0;
}

.talk-title a {
  color: var(--heading-colour);
  text-decoration: none;
  font-size: 1em;
}

.about-myname {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  padding-left: 0.5em;
  font-size: 2em;
}

.scroll-down {
  text-align: center;
  margin-top: 2rem;
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
}

.scroll-down a {
  font-size: 2rem;
  text-decoration: none;
  color: var(--color-text);
  animation: bounce 2s infinite;
  display: inline-block;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(6px);
  }
}